<div class="min-h-screen flex flex-col">

  <div class="relative bg-gray-100">
    <img src="https://media-assets.lacucinaitaliana.it/photos/6491aa96df12b222bfcfa508/16:9/w_2560%2Cc_limit/612732600" alt="Cena" class="w-full h-auto object-cover">
    <h2 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-4xl font-bold">Cena</h2>
  </div>

  <div class="p-6">
    <p class="text-lg text-gray-700 mb-6">Ecco alcuni consigli per una cena equilibrata:</p>

    <div class="flex items-center mb-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvOkOU5FpNLdYz9fGAgYIMkcmN-b9wqmLIDw&s" alt="Alimento 1" class="rounded-lg w-24 h-24 object-cover mr-4">
      <div>
        <p class="font-semibold text-gray-800">Insalata mista</p>
        <p class="text-gray-600">Un piatto di insalata mista con pomodori, lattuga, cetrioli e olio d'oliva (150g).</p>
      </div>
    </div>

    <div class="flex items-center mb-4">
      <img src="https://cortepreziosa.com/cdn/shop/articles/petto-di-pollo-alla-griglia-corte-preziosa_aa93ca64-4563-4fd4-8830-99f828393ffa-731110.jpg?v=1711440211&width=1600" alt="Alimento 2" class="rounded-lg w-24 h-24 object-cover mr-4">
      <div>
        <p class="font-semibold text-gray-800">Petto di pollo grigliato</p>
        <p class="text-gray-600">Una porzione di petto di pollo grigliato con contorno di verdure (200g).</p>
      </div>
    </div>
  </div>

  <div class="flex space-x-4 p-6">
    <%= link_to "Colazione", colazione_path, class: "w-full md:w-1/4 text-center p-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200" %>
    <%= link_to "Pranzo", pranzo_path, class: "w-full md:w-1/4 text-center p-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200" %>
    <%= link_to "Merenda", merenda_path, class: "w-full md:w-1/4 text-center p-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200" %>
    <%= link_to "Cena", cena_path, class: "w-full md:w-1/4 text-center p-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-200" %>
  </div>
</div>
